{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <header class="alert alert-primary border text-center" role="alert">
        {{ message }}
    </header>
{% endif %}
{% endwith %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <th>Symbol</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Transaction</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.price|usd }}</td>
                    <td>{{ stock.shares|abs }}</td>
                    <td>{{ stock.operation }}</td>
                    <td>{{ stock.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}